<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37534285903-nlperss7q9kv4euce3i1mfvi5tp5jc8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37534285903-nlperss7q9kv4euce3i1mfvi5tp5jc8j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37534285903-0b94civ8319ftbkf8e71hhtvku3f4dba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_jcF2LagMrT-HOLkMN5nKOHGN0lg_I0M</string>
	<key>GCM_SENDER_ID</key>
	<string>37534285903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tafapps.habeshawe</string>
	<key>PROJECT_ID</key>
	<string>habeshawe-1270a</string>
	<key>STORAGE_BUCKET</key>
	<string>habeshawe-1270a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37534285903:ios:5f708fc1de194e155c2a3a</string>
</dict>
</plist>